
<div class="navbar-inner">
    <div class="container clearfix">
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="navbar-twitter">
                <a href="https://twitter.com/telegram" target="_blank" data-track="Follow/Twitter" onclick="trackDlClick(this, event)">
                    <i class="icon icon-twitter"></i>
                    <span> Twitter</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="//telegram.org/">Home</a></li>
            <li class="hidden-xs"><a href="//telegram.org/faq">FAQ</a></li>
            <li class="hidden-xs"><a href="//telegram.org/apps">Apps</a></li>
            <li class=""><a href="//core.telegram.org/api">API</a></li>
            <li class=""><a href="//core.telegram.org/mtproto">Protocol</a></li>
            <li class=""><a href="//core.telegram.org/schema">Schema</a></li>
        </ul>
    </div>
</div>

